@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Si tienes un layout común para todas las páginas
}

<div class="container">
    <h2 class="mt-4">Dashboard</h2>

    <!-- Navbar -->
    <ul class="nav nav-pills mt-3">
        <li class="nav-item">
            @Html.ActionLink("Clientes", "Index", "Customer", null, new { @class = "nav-link" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Doctores", "Index", "Doctor", null, new { @class = "nav-link" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Citas", "Index", "Appointment", null, new { @class = "nav-link" })
        </li>
    </ul>
</div>
